/* style.css */

/* Основные стили для всего тела страницы */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Стили заголовка */
header {
    background-image: url("../img/background.jpg");
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    max-height: 190px;
}

.logo img {
    max-width: 300px;
    max-height: 300px;
    position: relative;
    right: 550px;
    top: 40px;
}

/* Стили навигационного меню */
nav ul {
    list-style: none;
    padding: 0;
    position: relative;
    left: 500px;
    top: -70px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
    position: relative;
    top: 65px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
}

* {box-sizing: border-box;}
form {
  width: auto;

  margin-right: 30px;
}


input {
    width: 600px;
    height: 65px;
    padding-left: 20px;
    border-radius: 20px;
    border: 2px solid #ffffff;
    background: #ffffff;
    outline: none;
    position: relative;
    transition: .3s linear;
    left: 14.5px;
    top: -157px;
}
input:focus {
  width: 610px;
}

/* Основные стили для главного контента */
main {
    padding: 20px;
}

/* Стили секции товаров */
#products {
    margin-top: 20px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    width: calc(30% - 20px); /* Ширина товара с учётом отступов */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.product-item:hover {
    transform: scale(1.05);
}

.product-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Кнопка добавления в корзину */
button {
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

/* Стили для футера */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}
